* {
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: #666666;
}

.outer__page {
  width: 975px;
  margin: auto;
  background-color: #313131;
}

.page {
  width: 950px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}

.header {
  width: 920px;
  margin: auto;
  background-color: #fff;
  border-top: 4px solid #a7c353;
  border-bottom: 1px solid #a7c353;
}

.bottom__info {
  background-color: #313131;
}

.bott__info_head {
  color: #fff;
  margin-top: 16px;
}

.slider {
  width: 920px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}

.slider__title {
  margin: 48px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.col {
  padding: 0;
  width: 20;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  margin-left: auto;
  height: 100%;
  vertical-align: auto;
}

.navbar-collapse {
  height: 90px;
}

.nav-link {
  margin: 25px auto;
}

.navbar-brand {
  font-size: 32px;
  font-weight: 500;
  line-height: 20px;
}

.navbar-brand_span {
  font-size: 16px;
  font-weight: 400;
}

.nav-item:hover {
  background-color: #a7c353;
}

.container-fluid {
  padding: 0;
}

.main-info {
  width: 920px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 920px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #313131;
}

.footer {
  background-color: #313131;
  padding: 8px 0;
  border: 1px solid #383838;
}

.input__field {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #383838;
}

.input__field_btn {
  border-radius: 4px;
  font-weight: 700;
  background-color: #a7c353;
  padding: 4px;
  width: 35%;
}

.mb-3 {
  height: 80px;
  width: 290px;
}

.card {
  border: none;
}

.card-img {
  width: 64px;
}

.card-title {
  font-size: 16px;
}

.card-text {
  font-size: 12px;
  margin: 0;
}

.card-link {
  font-size: 12px;
  text-decoration: none;
  color: #a7c353;
}

.card-body {
  padding: 0;
}

.third__card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.footer {
  width: 920px;
  margin: auto;
}

.mb-3 {
  height: auto;
}

.hr__add_info {
  width: 90%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 100%;
  border: 2px solid #a7c353;
}

.slider_title {
  background-color: #a7c353;
  color: #fff;
  width: 50%;
  margin-left: auto;
}

.slider__title_text {
  background-color: #fff;
  width: 50%;
  margin-left: auto;
}

.main__card_title {
  margin: 16px 0;
  margin-right: auto;
}

.fab,
.fas {
  font-size: 16px;
  margin: 8px;
  padding: 4px;
  border-radius: 100%;
  background-color: #383838;
  color: #fff;
}
