* {
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #666666;
}

.outer__page {
  margin: auto;
  background-color: #313131;
}

.page {
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}

.header {
  width: 95%;
  margin: auto;
  background-color: #fff;
  border-top: 4px solid #a7c353;
  border-bottom: 1px solid #a7c353;
}

.bottom__info {
  background-color: #313131;
}

.bott__info_head {
  color: #fff;
  margin-top: 16px;
}

.slider {
  width: 95%;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}

.slider__title {
  margin: 48px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.col {
  padding: 0;
  padding: 8px;
}

.left {
  padding-left: 0;
}

.right {
  padding-right: 0;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  margin-left: auto;
  height: 100%;
  vertical-align: auto;
}

.navbar-collapse {
  height: 90px;
}

.navbar-brand {
  font-size: 28px;
  font-weight: 500;
  line-height: 20px;
  opacity: 0.7;
}

.navbar-brand::first-letter {
  font-size: 36px;
}

.navbar-brand_span {
  font-size: 16px;
  font-weight: 400;
}

.nav-item {
  padding: 8px;
}

.nav-item:hover {
  background-color: #a7c353;
}

.nav-link {
  margin: 25px auto;
}

.home {
  background-color: #a7c353;
  font-weight: 700;
}

.container-fluid {
  padding: 0;
}

.main-info {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  background-color: #313131;
}

.footer {
  background-color: #313131;
  padding: 8px 0;
  border: 1px solid #383838;
}

.input__field {
  width: 100%;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #383838;
  outline: none;
  border: none;
}

.input__field:focus {
  outline: none;
}

.input__field_btn {
  border: none;
  border-radius: 4px;
  font-weight: 700;
  background-color: #a7c353;
  padding: 4px;
  width: 35%;
}

.input__field_btn:hover {
  color: #000;
}

.mb-3 {
  height: 80px;
  width: 290px;
}

.card {
  border: none;
  width: 100%;
}

.card-img {
  width: 64px;
}

.card-title {
  font-size: 16px;
}

.card-text {
  font-size: 12px;
  margin: 0;
}

.card-link {
  font-size: 12px;
  text-decoration: none;
  color: #a7c353;
}

.card-body_link {
  text-align: right;
  padding: 8px;
}

.third__card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.footer {
  width: 95%;
  margin: auto;
  border: none;
  border-top: 1px solid #383838;
}

.mb-3 {
  height: auto;
}

.hr__add_info {
  width: 90%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  border-radius: 100%;
  border: 3px solid #a7c353;
  opacity: 1;
  color: #a7c353;
  padding: 24px;
}

.slider_title {
  background-color: #a7c353;
  color: #fff;
  width: 50%;
  margin-left: auto;
}

.slider__title_text {
  background-color: #fff;
  width: 50%;
  margin-left: auto;
}

.main__card_title {
  margin: 16px 0;
  margin-right: auto;
}

.fab,
.fas {
  font-size: 16px;
  margin: 8px;
  padding: 8px;
  border-radius: 100%;
  background-color: #383838;
  color: #fff;
}

.card-img-top {
  padding: 8px;
  border: 1px solid lightgrey;
}

.hr {
  width: 95%;
  margin: auto;
}

.main__info_card {
  width: 33%;
}

.quote__img {
  height: 68px;
  width: 68px;
}

.ceo {
  display: inline-block;
}

.carousel-indicators [data-bs-target] {
  border-radius: 100%;
  background-color: #a7c353;
  width: 16px;
  height: 16px;
  border: 3px solid #a7c353;
  opacity: 1;
}

.carousel-indicators {
  position: absolute;
  bottom: -60px;
}

.carousel-indicators .active {
  background-color: #fff;
}